.glass {
  width: 260px;
  height: 400px;
  background: linear-gradient(
    to bottom right,
    rgba(150, 200, 255, 0.2),
    rgba(150, 200, 255, 0.7)
  );
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  z-index: 5;

  &:after {
    position: absolute;
    content: "";
    top: -120px;
    right: -420px;
    width: 500px;
    height: 600px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    background: linear-gradient(
                    to bottom,
                    rgba(150, 180, 255, 0.2),
                    rgba(255, 255, 255, 0)
    );
  }
}
