.button {
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-family: "Pacifico";
  color: white;
  cursor: pointer;
  outline: 0;
  font-size: 20px;
  outline: none;
  transition: all 0.25s;
  cursor: pointer;
  transition: all 0.3s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
    filter: blur(3px);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.simple-button {
  height: 40px;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  margin-top: 15px;
  width: 100%;

  &:hover {
    color: #fff;
  }
}