@-webkit-keyframes shake-can {
  0%,
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@keyframes shake-can {
  0%,
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
@-webkit-keyframes show-can {
  0% {
    -webkit-transform: rotate(-20deg) scale(0.5, 0.5);
    transform: rotate(-20deg) scale(0.5, 0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(-100px) rotate(70deg)
      scale(10, 10);
    transform: translateX(0) translateY(-100px) rotate(70deg) scale(10, 10);
    opacity: 1;
  }
}
@keyframes show-can {
  0% {
    -webkit-transform: rotate(-20deg) scale(0.5, 0.5);
    transform: rotate(-20deg) scale(0.5, 0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(-100px) rotate(70deg)
      scale(10, 10);
    transform: translateX(0) translateY(-100px) rotate(70deg) scale(10, 10);
    opacity: 1;
  }
}

.tray-inner {
  width: 260px;
  height: 50px;
  background-color: black;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 5px;

  .container {
    position: absolute;
    bottom: -7px;
    left: 45%;
    border-color: transparent !important;
    z-index: 10;
    animation: shake-can 0.25s 0.5s infinite;
    transform-origin: center -100px;
    z-index: 10;

    .can {
      -webkit-transform: rotate(-20deg) scale(0.5, 0.5);
      transform: rotate(-20deg) scale(0.5, 0.5);
      opacity: 0;
      animation: show-can 0.5s 0.5s forwards;
    }
  }
  .container.hide {
    transition: all 0.5s;
    opacity: 0;
  }
}

.tray {
  width: 260px;
  height: 50px;
  background-color: #b4b4b4;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 5px;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  transform: rotateX(0deg);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);

  &:after {
    content: "push";
    position: absolute;
    top: 28px;
    left: 0;
    text-align: center;
    width: 100%;
    display: block;
    opacity: 0.5;
    color: black;
    font-size: 12px;
  }
}
.tray.open {
  -webkit-transform: rotateX(-45deg);
  transform: rotateX(-45deg);
}
