.container {
  float: left;
  width: 52px;
  height: 70px;
  border-width: 0;
  border-bottom-width: 15px;
  border-style: solid;
  position: relative;

  .can-label {
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 15px;
    font-size: 10px;
  }

  .can {
    position: absolute;
    bottom: 0;
    left: calc(50% - 12px);
    width: 24px;
    height: 40px;
    border-radius: 3px;
    font-family: "Pacifico", cursive;
    overflow: hidden;

    &:before {
      position: absolute;
      transform-origin: top left;
      transform: rotate(-90deg);
      top: 40px;
      left: -2px;
      width: 40px;
      text-align: center;
      color: white;
      font-size: 12px;
      content: "";
    }

    &:after {
      position: absolute;
      content: "";
      right: 3px;
      top: 3px;
      width: 3px;
      height: calc(100% - 6px);
      background-color: rgba(255, 255, 255, 0.25);
      border-radius: 3px;
    }

    .taste {
      position: absolute;
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      top: 40px;
      left: -2px;
      width: 40px;
      text-align: center;
      color: white;
      font-size: 12px;
    }
  }
}


.tray-inner .container .can {
  display: none;
}

.tray-inner.open .container .can {
  display: block;
}

[data-can="1"] {
  border-color: #ff3539;

  .can {
    background-color: #ff686b;
  }

}

[data-can="2"] {
  border-color: #ff6628;

  .can {
    background-color: #ff8a5b;
  }
}

[data-can="3"] {
  border-color: #8c8c8c;

  .can {
    background-color: #b4b4c8;
  }
}

[data-can="4"] {
  border-color: #783c50;

  .can {
    background-color: #501e32;
  }

}

[data-can="5"] {
  border-color: #5cd1b4;

  .can {
    background-color: #84dcc6;
  }
}

[data-can="1"] .can:before,
[data-can="2"] .can:before,
[data-can="3"] .can:before,
[data-can="4"] .can:before,
[data-can="5"] .can:before {
  content: attr(data-taste);
}
