.arm {
  position: absolute;
  top: 390px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #c8c8c8;
  z-index: 1;
  transition-timing-function: linear;

  &:after,
  &:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 28px;
    top: -9px;
    left: 0;
    background-color: #a0a0a0;
  }

  &:after {
    left: auto;
    right: 0;
  }

  .hand {
    position: absolute;
    top: -5px;
    left: 200px;
    width: 40px;
    height: 20px;
    border-radius: 4px;
    background-color: #a0a0a0;
    transition-timing-function: linear;

    &:before,
    &:after {
      position: absolute;
      content: "";
      width: 6px;
      height: 30px;
      top: -5px;
      border-radius: 2px;
      background-color: #32373c;
      z-index: -1;
    }

    &:before {
      left: 4px;
    }
    &:after {
      right: 4px;
    }

    .container {
      position: absolute;
      top: -27px;
      left: -5px;
      z-index: -2;
      border-color: transparent !important;
    }
  }
}
