.machine {
  width: 330px;
  height: 500px;
  background-color: #84dcc6;
  border-radius: 10px;
  perspective: 300px;

  &:before {
    position: absolute;
    content: "";
    z-index: -1;
    border-radius: 3px;
    background-color: #969696;
    width: 30px;
    height: 40px;
    top: 150px;
    right: 10px;
  }

  &:after {
    position: absolute;
    content: attr(data-price) "$";
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Pacifico";
    font-size: 10px;
    color: #fff;
    border-radius: 3px;
    background-color: black;
    width: 26px;
    height: 26px;
    top: 152px;
    right: 12px;
  }
}
