.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 280px;
  margin: 0 auto;
  width: 100%;
}

.input {
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 24px;
  padding: 0 0 0 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;

  &::placeholder {
    font-family: "Pacifico";
    color: white;
    text-align: left;
    font-size: 22px;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 15px 0 15px;
}
