@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed");
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f4acb7;
  width: 100%;
  height: 100%;
  min-height: 770px;
  position: relative;
}

.machine-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  position: relative;
  width: 800px;
  height: 100%;
}

.inner {
  width: 260px;
  height: 400px;
  background-color: black;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  overflow: hidden;

  &:before,
  &:after {
    position: absolute;
    content: "";
    top: 0;
    width: 50px;
    height: 100%;
    box-shadow: 0 0 100px 30px rgba(255, 230, 150, 0.9);
    z-index: 2;
  }
  &:before {
    left: -50px;
    -webkit-animation: light-flicker 7s infinite;
    animation: light-flicker 7s infinite;
  }
  &:after {
    right: -50px;
  }
}


@-webkit-keyframes light-flicker {
  0%,
  18%,
  20%,
  98%,
  100% {
    opacity: 1;
  }
  99%,
  19% {
    opacity: 0.5;
  }
}

@keyframes light-flicker {
  0%,
  18%,
  20%,
  98%,
  100% {
    opacity: 1;
  }
  99%,
  19% {
    opacity: 0.5;
  }
}

.numpad {
  width: 290px;
  background-color: #f4acb7;
  padding: 10px 20px 0 20px;
  border-radius: 5px;
  z-index: 10;
}
.numpad {
  .current-input {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
  }
}

.title {
  font-family: "Pacifico";
  color: white;
  padding: 20px;
  font-size: 22px;
  text-align: center;
  transition: all 0.2s;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.75;
  filter: blur(3px);
}
